<section class="dashboard">
  <mat-card>
    <b><span>Dashboard</span></b>
  </mat-card>

  <br />

  <div class="card-container">
    <div class="card">
      <h2 class="title">Categorias:</h2>
      <h1 class="title">{{ data?.category }}</h1>
      <button class="button" [routerLink]="['/cafe/category']">
        Ver Categorias
      </button>
    </div>

    <div class="card">
      <h2 class="title">Produtos:</h2>
      <h1 class="title">{{ data?.product }}</h1>
      <button class="button" [routerLink]="['/cafe/product']">
        Ver Produtos
      </button>
    </div>

    <div class="card">
      <h2 class="title">Contas:</h2>
      <h1 class="title">{{ data?.bill }}</h1>
      <button class="button" [routerLink]="['/cafe/bill']">Ver Contas</button>
    </div>
  </div>
</section>

<app-navbar></app-navbar>

<app-sidebar></app-sidebar>
