<section class="product-container">
  <mat-card>
    <b><h2>Produtos</h2></b>
    <button mat-flat-button class="add-product-btn" (click)="handleAddAction()">
      Adicionar produto
    </button>
  </mat-card>
  <hr />
  <mat-form-field appearance="fill">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
  <hr />

  <div class="responsive-table">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let element">{{ element.categoryName }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="action-th">Ação</th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <button
            mat-icon-button
            matTooltip="Edit"
            (click)="handleEditAction(element)"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <button
            mat-icon-button
            matTooltip="Delete"
            (click)="handleDeleteAction(element)"
          >
            <mat-icon>delete</mat-icon>
          </button>

          <mat-slide-toggle
            (change)="handleUpdateStatus($event.checked, element.id)"
            matTooltip="Ativar ou Desativar produto"
            [checked]="element.disponivel === 1"
          ></mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="products-in-table"></tr>
    </table>
  </div>
</section>

<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
