.wrapper {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #913294;
}

nav {
  display: flex;
  width: 90%;
}

ul li a {
  margin-left: 1.5em;
}

ul {
  list-style-type: none;
}

a.logo {
  margin-right: auto;
  display: flex;
  gap: 15px;
  align-items: center;
}

a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-size: 1.25em;
}

a::after {
  content: "";
  top: 100%;
  border-bottom: 2px solid #fff;
  transition: all 0.35s;
  position: absolute;
}

a:hover::after {
  transition: all 0.35s;
}

a::after {
  right: 50%;
  left: 50%;
}

a:hover::after {
  right: 0;
  left: 0;
}

.burger-menu {
  display: flex;
  justify-content: center;
  width: 500px;
}

.burger-menu li a {
  cursor: pointer;
}

.icon-text-burger-container mat-icon {
  margin-bottom: -5px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  a.logo {
    margin: 1.5em;
  }

  ul {
    flex-direction: column;
  }

  ul li {
    margin: 0.3em;
    text-align: center;
  }

  ul li a {
    margin-left: 0px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  z-index: 1;
}

.burger-menu-icon {
  display: none;
}

@media (max-width: 1024px) {
  .burger-menu {
    display: none;
    padding: 30px 10px 5px 10px;
    width: 250px !important;
  }

  ul {
    flex-direction: column;
    background-color: #913294;
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    padding: 10px;
    border-radius: 10px;

    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  ul.show {
    display: flex;
    max-height: 500px;
    opacity: 1;
  }

  ul li {
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 5px;

    transition: all 0.3s ease-in-out;
  }

  .navbar-text {
    display: none;
  }

  .burger-menu-icon {
    display: block;
    margin: 1.5em;
  }

  nav {
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  .navbar-fixed-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .wrapper {
    height: auto;
  }

}

